@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:400,500,700");
body {
  background-color: #e2e2e2;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.wrapper {
  margin: 0 auto;
  padding: 2% 5%;
  text-align: center;
  width: 90%; }

/* Header */
header {
  background-color: #FFF;
  width: 100%;
  float: left;
  min-height: 200px;
  border-bottom: 1px solid #e2e2e2;
  margin: 2%;
  padding: 0; }

.header__left {
  float: left;
  width: 56%;
  text-align: left;
  font-size: 1.5rem; }
  .header__left ul {
    padding: .2rem 0;
    margin: 0; }
    .header__left ul li {
      list-style-type: none;
      margin: 1rem 0;
      padding: 0; }
      .header__left ul li svg {
        margin-right: 1rem; }
      .header__left ul li span {
        border-bottom: 1px dotted #222; }
      .header__left ul li a {
        color: #222;
        text-decoration: none;
        padding: .5rem; }
      .header__left ul li a:hover {
        background-color: yellow;
        border-bottom: none; }

.header__right {
  float: right;
  width: 36%;
  margin: 2%; }

.img__coder {
  margin-right: 5%; }

header h1 {
  text-transform: uppercase;
  letter-spacing: -0.08rem;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 2.5rem;
  margin-right: 2rem;
  padding: 0;
  margin-bottom: 0; }

header .nombre--muygrande {
  text-align: justify;
  font-size: 6rem;
  padding: .5rem 1rem;
  margin: .5rem 0;
  display: block;
  background-color: yellow; }

/* Principal */
.left, .right {
  background-color: #FFF;
  margin: 0;
  padding: 0;
  float: left;
  min-height: 300px; }

.left {
  width: 35%;
  padding: 0 2%;
  text-align: justify; }

.left h1 {
  letter-spacing: -0.01em;
  color: #000;
  background-color: yellow;
  padding: 1%; }

.left p {
  line-height: 1.5rem;
  font-size: 1.1rem; }

.right {
  width: 56%;
  padding: 0 2%;
  text-align: justify; }

.title__icon {
  background-color: #000;
  color: #FFF;
  padding: 1% 2%; }

.title__sections {
  background-color: yellow;
  padding: 1% 2%; }

.title__subtitle {
  color: #333;
  font-style: italic; }

.right .images__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.right .images__flex--item {
  width: 25%;
  list-style-type: none;
  margin: 2% 1%; }

/* Aside Izquierdo */
.recuadro__datos {
  background-color: #e2e2e2;
  padding: 1% 5%;
  margin: 5% 0; }
  .recuadro__datos b {
    text-transform: uppercase; }
  .recuadro__datos a {
    border-bottom: 1px dotted #333;
    color: #333;
    text-decoration: none; }

#descripcion__corporativa a {
  text-decoration: none;
  border-bottom: 1px dotted #666; }

/* Experiencia Laboral */
.posicion__laboral {
  display: inline-block; }

.posicion__laboral h4 span {
  background-color: #666;
  color: #FFF;
  padding: 1%; }

.posicion__laboral__puesto {
  float: left;
  text-transform: uppercase; }

.posicion__laboral__dates {
  float: right; }

.posicion__laboral p {
  float: left; }

/* Formacion Profesional */
#formacion__profesional ul {
  margin: 1rem 0;
  padding: .3rem 0; }
  #formacion__profesional ul li {
    list-style-type: none;
    line-height: 1.5rem;
    border-left: 1rem solid #e2e2e2;
    padding: .2rem 1rem;
    margin: .5rem 0; }

/* Footer */
footer {
  background-color: #FFF;
  width: 100%;
  padding: 1%;
  margin-top: 20px; }

/* Fonts */
/* Tooltips */
a.tooltip {
  outline: none; }

a.tooltip strong {
  line-height: 30px; }

a.tooltip:hover {
  text-decoration: none; }

a.tooltip span {
  z-index: 10;
  display: none;
  padding: 14px 20px;
  margin-top: 60px;
  margin-left: -160px;
  width: 300px;
  line-height: 1rem;
  font-size: 1rem; }

a.tooltip:hover span {
  display: inline;
  position: absolute;
  border: 2px solid #FFF;
  color: #EEE;
  background: #333 url(cssttp/css-tooltip-gradient-bg.png) repeat-x 0 0; }

.callout {
  z-index: 20;
  position: absolute;
  border: 0;
  top: -14px;
  left: 120px; }

/*CSS3 extras*/
a.tooltip span {
  border-radius: 2px;
  box-shadow: 0px 0px 8px 4px #666;
  /*opacity: 0.8;*/ }
